/* Définition des polices */
@font-face
{
    font-family: 'OCR A Ext';
    src: url('polices/OCRAEXT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */
body{
  font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(137, 135, 135);
}

header{
  display: flex;
  flex-direction: column;
}

header h1{
  font-family: 'OCR A Ext', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bouton{
  color: #181818;
  background-color: aliceblue;
}
.bouton:hover
{
  color: royalblue;
}

section {
  display: flex;
  background-color: lightgrey;
  flex-direction: column;
  margin: auto;
  padding-bottom: 5px;
  width: 80%;
}
/* Mise en forme du tableau d'inventaire classique */
table
{
    border-collapse: collapse;
    caption-side: bottom;
}
td,th
{
    border: 1px solid steelblue;
}
th
{
    background: tomato;
    color: whitesmoke;
    font-weight: normal;
}

footer {
  border-top: 2px solid royalblue;
  padding-top: 10px;
}

h1 {
  color: lightcoral;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #181818; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.conteneur_bloc_inventaire{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: masonry;
}

.bloc_inventaire{
  border: 2px solid royalblue;
  background-color: white;
  color: royalblue;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

.bloc_inventaire:hover {
  background: royalblue;
  color: white;
}

a.invisible_link{
  text-decoration: none;
}

 /* Style inputs */
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  border: 2px solid royalblue;
  background-color: white;
  color: royalblue;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background: royalblue;
  color: white;
} 

fieldset{
  border: black solid 1px;
}
