{% extends "main.html.jinja" %}
{% block contenu %}

<div>
  <form method="post" class="formulaire">
    <fieldset>
      <legend>Ajout d'un label</legend>
      <label> Nom <input type="text" name="nom" required> </input> </label>
      <label> Couleur <input type="color" name="couleur" required> </input> </label>
      <input type="submit" value="Créer le label">
      <input type="hidden" name="type_request" value="ajout">
    </fieldset>
  </form>
</div>

{% endblock contenu %}  