{% extends "main.html.jinja" %}
{% block contenu %}

<div>
<form method="post" class="formulaire">
  <fieldset>
    <legend>Nouveau composant</legend>
    <label> Descrition <input type="text" name="description" required> </input> </label>
    <label> Nombre <input type="number" name="nombre" placeholder="0"> </input> </label>
    <div class=conteneur_bloc_inventaire >
      <fieldset>
        <legend>Emplacement</legend>
        <label for="emplacement">Emplacement</label>
        <select name="emplacement" id="emplacement">
        {% for emplacement in emplacements %}
        <option value="{{emplacement.id}}">{{emplacement.nom}}</option>
        {% endfor %}
        </select>
      </fieldset>
      <fieldset>
        <legend>Reférence fournisseur</legend>
        <label> Ref <input type="text" name="ref_four"> </input> </label>
        <div>
          <select name="fournisseur" id="fournisseur">
            {% for fournisseur in fournisseurs %}
            <option value="{{fournisseur.id}}">{{fournisseur.nom}}</option>
            {% endfor %}
          <option value="0}">Autre</option>
          </select>

        </div>
      </fieldset>
      <fieldset>
        <legend>Réference fabricant</legend>
        <label> Ref <input type="text" name="ref_fab"> </input> </label>
      </fieldset>
    </div>
    <fieldset>
      <legend>Label</legend>
      {% for label in labels %}
      <span border="solid 1px {{label.couleur}}" color={{label.couleur}}>
        <input type="checkbox" id="label-{{label.id}}" name="label" value="{{label.id}}">
        <label for="label-{{label.id}}">{{label.nom}}</label>
      </span>
      {% endfor %}
    </fieldset>
    <input type="submit" value="Insertion!">
  </fieldset>
</form>
</div>

{% endblock contenu %}