{% extends "main.html.jinja" %}
{% import 'macro.html.jinja' as macro %}
{% block contenu %}
<div class="conteneur_bloc_inventaire">
  {% for elem in elemInventaire %}
  <a class=invisible_link href="info-composant-{{ elem.id }}">
    <div class="bloc_inventaire" id="bloc_inv{{ elem.id }}">
      <p class="bloc_inventaire_nom_composant">
        {{ elem.description }}
      </p>
      <p class="bloc_inventaire_emplacement">
        {{ elem.nombre }} - {{ elem.emplacement }}
      </p>
      <p>
        {% for label in elem.labels %}
          {{macro.cartouche_label(label)}}
        {% endfor %}

      </p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock contenu %}
