<!doctype html>
<html lang="fr">
<head>
    {% block header_html %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/theme.css">
    <link rel="icon" type="image/png" href="static/images/logo_icon.png">
    <script src="static/action.js"></script> 
    {% endblock header_html %}
    <title>{{title}}</title>
</head>
<body>
    <nav id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form action="/recherche" method="post" class="form-example">
            <input type="search" id="site-search" placeholder="mot clef" name="recherche" required>
            <button>Trouve !</button>
        </form>
        {% for elem in elemeMenu %}
        <a href="{{elem.lien}}">{{elem.nom}}</a>        
        {% endfor %}
    </nav>
    <header>
        {% block header %}
        <h1>Page principale</h1>
        <span class="bouton" onclick="openNav()">Menu</span>
        {% endblock header %}
    </header>

    <section>
        {% block contenu %}
        <p>Contenu de la page principal en mode section</p>
        <figure>
            <img src="static/images/logo.png" alt="Image du logo" title="Logo de GeStock"/>
        </figure>
        {% endblock contenu %}
    </section>
        
    <footer>
        {% block footer %}
        En cas de problème, envoyé un mail <a href="mailto:contact-project+p5787-component-inventory-33289049-issue-@incoming.gitlab.com"> ici </a>.
        {% endblock footer %}
    </footer>

</body>
</html>